.formTask{
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #333;
  min-width: 500px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: #fff;
  border: none;
  color: #333;
}

button {
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  background-color: #008000;
  color: white;
  cursor: pointer;
}

