.card {
  border: 1px solid #ddd;
  background-color: #ddd;
  padding: 0 15px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #333;
  min-width: 500px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

/* Nova classe para o título */
.title {
  color: #333;
}

/* Nova classe para o texto de tecnologia */
.tech {
  color: #666;
}

.divButton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.buttonMoreInfo {
  background-color: #7878f7;
}
.buttonCheck {
  background-color: #008000;
}
.buttonTrash {
  background-color: #fd1a1a;

}
